header
{
    background-color:#00e0ff;
    color:white;
}
.site-title {
   color: white;
   font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
   font-size: 4.5em;
   margin: 0;  
}
.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: white;
    outline: none;
    text-decoration: none;   
}
body {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #fff;
}
.load {
     margin: 100px auto 50px;
    padding: 20px;
    position: relative;
    width: 300px;
}
 .fa-spinner:before{
    color:#00e0ff;  
 }