<div id="login">
    <div *ngIf="isError" class="alert alert-danger" >
        <button class="btn btn-link" (click)="isError=false">
            <span class="close"><i class="fa fa-times"></i></span>
        </button>
            Неверный логин и пароль
   </div>
    <label>Логин</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input class="form-control" name="Login" [(ngModel)]="user.Login" #Login="ngModel" required />
    </div>
    <label>Пароль</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input class="form-control" type="password" name="Password" [(ngModel)]="user.Password" #Password="ngModel" required />
    </div>
    <div class="button">
        <button [disabled]="Login.invalid || Password.invalid"
                class="btn btn-default" (click)="logIn()">
            Войти
        </button>
    </div> 
</div>