<div class="userInfo" *ngIf="logined">
   <div class="userPanel">
      
        <span class="userIcon"><i class="fa fa-user fa-2x fa-wh"></i>  Сотрудник: {{user.Name}} </span>
     <br />
    
    <button class="btn btn-default" (click)="modal.show()"> <i class="fa fa-plus-circle fa-wh"> </i> Новое задание</button>
    <app-modal #modal (ok)=onCloseModal($event) (openned)="onOpenModal($event)">
        <div class="app-modal-header"> Выберите нужный проект и должность</div>
        <div class="app-modal-body">
            Проект:
            <select class="projectSelector" [(ngModel)]="newLog.ProjectID">
                <option *ngFor="let project of projects" [value]="project.ID"> {{project.Name}} </option>
            </select>
            Должность:
            <select class="activitySelector" [(ngModel)]="newLog.ActivityID">
                <option *ngFor="let activity of activities" [value]="activity.ID" required> {{activity.Position}} </option>
            </select>
        </div>
    </app-modal>
    <app-modal #modalExit (ok)=exit($event)>
        <div class="app-modal-header">  Выход </div>
        <div class="app-modal-body">
            <div *ngIf="activeLog.isEnable"> У Вас есть запущенная активность. Хотите приостановить работу перед выходом? 
              <br />  <button class="btn btn-default" (click)="activeOnPause()"> Остановить </button> 
            </div>
            <div *ngIf="!activeLog.isEnable"> Вы уверены, что хотите выйти? </div>
        </div>
    </app-modal>
    <button class="btn btn-default" (click)="modalExit.show()"> <i class="fa fa-times-circle fa-wh"></i> Выйти</button>
    </div>
    <table class="table table-hover">
        <thead class="thead">
            <tr>
                <th>Проект</th>
                <th>Позиция</th>
                <th>Время начала</th>
                <th>Потраченное время</th>
                <th>Время завершения</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let timeLog of pagedItems" [ngClass]="{'paused':timeLog.Status==2, 'finished':timeLog.Status==3 }">
            <td> {{timeLog.Project.Name}} </td>
            <td> {{timeLog.Activity.Position}} </td>
            <td>{{timeLog.StartWorkTime | date:"dd/MM/yyyy HH:mm"}} </td>
            <td *ngIf="timeLog.Status!=1">	{{timeLog.SpendingTime | amDuration:'ms' }}ч. </td>
            <td *ngIf="timeLog.Status==1">   {{activeLog.timer.time | amDuration:'ms' }} ч.</td>
            <td>  {{timeLog.EndWorkTime |  emptyDate }} </td>
            <td> <button class="btn btn-default" [disabled]="timeLog.Status!=2" (click)="start(timeLog)"><i class="fa fa-play-circle"></i></button></td>
            <td> <button class="btn btn-default" [disabled]="timeLog.Status!=1" (click)="modalPause.show(timeLog)"><i class="fa fa-pause-circle"></i></button></td>
            <td> <button class="btn btn-default" [disabled]="timeLog.Status==3" (click)="modalStop.show(timeLog)"><i class="fa fa-stop-circle"></i></button></td>
        </tr>
    </table>
    <app-modal-time #modalPause (ok)=pause($event)>
        <div class="app-modal-header"> Выберите время паузы: </div>
    </app-modal-time>
    <app-modal-time #modalStop (ok)=stop($event)>
        <div class="app-modal-header"> Выберите время завершения: </div>
    </app-modal-time>
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">Начало</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Назад</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Вперед</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Конец</a>
        </li>
    </ul>
</div> <login *ngIf="!logined" (changedID)="onChanged($event)"> </login>


