<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Time Logger</a></p>
        </div>
    </div>
</header>
<div id="body">
<div id="userIdentity" type="hidden">
<div id="Username">
    </div>
<button id="buttonExit">Выйти</button>
    </div>
    <!--div id="currentTime"-->
    <!--/div-->
</div>
   <div id="tableBlock"></div>
    <div id="LoginBlock"><h3>Вход</h3>
    <table>
    <tr><td><input type="hidden" id="LoginId" /></td><td></td></tr>
    <tr><td><label>Логин: </label></td><td><input type="text" id="insertLogin" /></td></tr>
    <tr><td><label>Пароль: </label></td><td><input type="password" id="insertPassword" /></td></tr>
     </table>
    <button id="buttonLogin">Войти</button>
    </div>
<div id="Error">
    </div>
</div>
@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        var userID;
        $("#userIdentity").css('display', 'none');
        $("#buttonLogin").click(function (event) {
            event.preventDefault();
            LogOn();
        });
        $("#buttonExit").click(function (event) {
            event.preventDefault();
            Exit();
        });
    });
    function LogOn() {
        var login = $('#insertLogin').val();
        var   password = $('#insertPassword').val();
        $.ajax({
            url: '/api/autorisation?login='+login+"&password="+password,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                
                SetUserInfo(data);
                $('#insertLogin').val("");
                $('#insertPassword').val("");
                // WriteResponse(data);
            },
            error: function (x, y) {
                alert(x + '\n' + y );
            }
        });
    }
    function SetUserInfo(autorisationData)
    {
         userID = autorisationData.ID;
        $.ajax({
            url: '/api/users/'+userID,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var name = data.Name;
                $("#Username").text("Сотрудник: "+name);
                $("#LoginBlock").css('display', 'none');
                $("#userIdentity").css('display', 'block');
            },
            error: function (x, y) {
                alert(x + '\n' + y);
            }
        });

    }
    function Exit()
    {
        userID = undefined;
        $("#LoginBlock").css('display', 'block');
        $("#userIdentity").css('display', 'none');
    }
</script>
    }