<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Time Logger</a></p>
        </div>
    </div>
</header>
<div id="body">
<div id="userIdentity" type="hidden">
<div id="Username"> </div>
<button id="buttonExit">Выйти</button>
</div>
    <my-app></my-app>
 
    <!--div id="currentTime"-->
    <!--/div-->

</div>
<div id="tableBlock" type="hidden"></div>
<div id="Error">
    </div>
</div>
   


@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        var userID;
        $("#userIdentity").css('display', 'none');
        //$("#tableBlock").css('display', 'none');
        $("#buttonLogin").click(function (event) {
            event.preventDefault();
            LogOn();
        });
        $("#buttonExit").click(function (event) {
            event.preventDefault();
            Exit();
        });
    });
    function LogOn() {
        var login = $('#insertLogin').val();
        var   password = $('#insertPassword').val();
        $.ajax({
            url: '/api/autorisation?login='+login+"&password="+password,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                
                SetUserInfo(data);
                $('#insertLogin').val("");
                $('#insertPassword').val("");
                ShowTaskList();
            },
            error: function (x, y) {
                alert(x + '\n' + y );
            }
        });
    }
    function SetUserInfo(autorisationData)
    {
         userID = autorisationData.ID;
        $.ajax({
            url: '/api/users/'+userID,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var name = data.Name;
                $("#Username").text("Сотрудник: "+name);
                $("#LoginBlock").css('display', 'none');
                $("#userIdentity").css('display', 'block');
            },
            error: function (x, y) {
                alert(x + '\n' + y);
            }
        });

    }
    function Exit()
    {
        userID = undefined;
        $("#LoginBlock").css('display', 'block');
        $("#userIdentity").css('display', 'none');
    }
    function ShowTaskList()
    {
        $.ajax({
            url: '/api/timeLogs/'+userID,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var strResult = "<table><th> Проект </th><th> Активность </th><th>Статус </th><th>Время начала </th><th>Время окончания </th><th>Потраченное время </th>";
                $.each(data, function (index, data) {
                    strResult += "<tr><td>" + data.Project.Name + "</td><td> " + data.Activity.Position + "</td><td>";
                    if (data.Status === 1)
                    {
                        strResult+="Активно";
                    } else if (data.Status === 2) {
                        strResult += "Приостановлено";
                    } else {
                        strResult += "Завершено";
                    }

                   strResult +="</td><td>" + data.StartWorkTime + "</td><td>" + data.EndWorkTime + "</td><td>" + data.SpendingTime +
                   "</td></tr>";
                });
                strResult += "</table>";
                $("#tableBlock").html(strResult);
               // $("#tableBlock").css('display', 'table');
            },
            error: function (x, y) {
                alert(x + '\n' + y);
            }

        });
    }
</script>
    }