<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <i class="fa fa-clock-o fa-2x fa-fw"></i> <a href="~/">Time Logger</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <my-app>
        <div class="load">
            <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
            <span class="sr-only">Загрузка...</span>
        </div>
    </my-app>
</div>



