<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Time Logger</a></p>
        </div>
    </div>
</header>
<div id="body">
<div id="Username">
    </div>
    <div id="LastRefresh">
    </div>
   <div id="tableBlock"></div>
    <div id="LoginBlock"><h3>Вход</h3>
    <table>
    <tr><td><input type="hidden" id="LoginId" /></td><td></td></tr>
    <tr><td><label>Логин: </label></td><td><input type="text" id="insertLogin" /></td></tr>
    <tr><td><label>Пароль: </label></td><td><input type="password" id="insertPassword" /></td></tr>
     </table>
    <button id="buttonLogin">Войти</button>
    </div>
<div id="Error">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
 
        $("#buttonLogin").click(function (event) {
            event.preventDefault();
            LogOn();
        });
    });
    function LogOn() {
        var loginAndPassword ={
            Login: $('#insertLogin').val(),
            Password:$('#isertPassword').val()
        };
        $.ajax({
            url: '/api/autorisation',
            type: 'GET',
            dataType: 'json',
            data: JSON.stringify(loginAndPassword),
            success: function (data) {
                $("#LoginBlock").css('display', 'none');
                getActivityList(data);
               // WriteResponse(data);
            },
            error: function (x, y) {
                alert(x + '\n' + y );
            }
        });
    }