<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Time Logger</a></p>
        </div>
    </div>
</header>
<div id="body">
    <my-app></my-app>
</div>



